@use "../variables" as *;

.mat-drawer.sidebarNav {
  width: $sidenav-desktop;
  flex-shrink: 0;
  transition: swift-ease-out(width);
  position: absolute;
  overflow-x: hidden;
  border-right: 1px solid $borderColor;
  border-radius: 0px !important;
  
  // Dark theme sidebar
  html.dark-theme & {
    background: var(--cyber-black);
    border-right-color: var(--mat-sys-outline);
  }
}

.branding {
  padding: 20px;
}

.sidebar-list {
  &.mdc-list {
    padding: 0 24px;

    .mdc-list-group__subheader {
      margin: 12px 0;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
      margin-top: 24px;
    }

    .menu-list-item {
      height: 45px;
      font-size: 15px;
      padding: 8px 10px !important;
      margin-bottom: 2px;
      border-radius: 30px;
      .hide-menu {
        font-size: 15px;
      }

      &:before,
      &:focus {
        z-index: -1;
      }


      .item-chip {
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
      }

      &:hover::before {
        background-color: var(--mat-sys-secondary);
      }
      
      // Dark theme menu hover
      html.dark-theme & {
        &:hover::before {
          background-color: rgba(0, 243, 255, 0.15);
        }
        
        &:hover {
          border: 1px solid rgba(0, 243, 255, 0.3);
          box-shadow: 0 0 10px rgba(0, 243, 255, 0.2);
        }
      }

      &.activeMenu {
        background-color: var(--mat-sys-secondary);

        .mdc-list-item__primary-text {
          color: $white !important;
        }

        .mat-mdc-list-item-icon {
          color: $white !important;
        }
        
        // Dark theme active menu
        html.dark-theme & {
          background: rgba(0, 243, 255, 0.2);
          border: 1px solid var(--neon-blue);
          box-shadow: 0 0 15px rgba(0, 243, 255, 0.3);
          
          .mdc-list-item__primary-text {
            color: var(--neon-blue) !important;
          }

          .mat-mdc-list-item-icon {
            color: var(--neon-blue) !important;
          }
        }
      }

      .mdc-list-item__start {
        margin-right: 14px;
        margin-left: 0 !important;
        width: 20px;
        height: 20px;
        line-height: 0px;
        fill: transparent !important;
      }

      .mdc-list-item__primary-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow-icon {
          display: flex;
          gap: 2px;

          .mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}