html .dark-theme {
    color-scheme: dark;
    --mat-sys-corner-small: 7px;
    --mat-sys-corner-medium: 20px;
    --mat-sys-background: #111827;
    --mat-sys-surface-bright: #1f2937;
    --mat-sys-surface: #1f2937;
    --mat-sys-surface-container: #1f2937;
    --mat-sys-surface-container-low: #1f2937;
    --mat-sys-on-background: #e5e7eb;
    --mat-sys-outline: #374151;
    --mat-sys-outline-variant: #374151;
    --mdc-outlined-text-field-hover-outline-color: #4b5563;
    --mdc-checkbox-unselected-hover-state-layer-color: #4b5563;
    --mat-menu-item-hover-state-layer-color: #374151;
    --mat-standard-button-toggle-state-layer-color: #374151;
  }
